html {
font-family: 'Open Sans', sans-serif;
font-weight: 600;
width: 550px;
margin-left: auto;
margin-right: auto;
}

body {
color: #FFFFFF;
background-color:#171717;
}

h1 {
text-shadow: 1px 1px 1px;
}

button {
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
opacity: 0.8;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 80);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/
padding: 0;
border: none;
width: 30px;
height: 30px;
font-size: 10px;
box-shadow: 0 0px 0px 2px;
margin: 1px;
transition: all 0.5s;
}

.alive {
background-color: #FFFFFF;
}

.dead {
background-color: #000000;
}

button:hover {
background-color: #82d99c;
transform: scale(1.2);
}

