button.alive {
background-color: #FFFFFF;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
opacity: 0.8;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 80);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/
padding: 0;
border: none;
width: 25px;
height: 25px;
margin: 0px;
}

button.dead {
background-color: #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
opacity: 0.8;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 80);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/
padding: 0;
border: none;
width: 25px;
height: 25px;
margin: 0px;
}

button.dead:hover {
background-color: #82d99c;
transform: scale(1.2);
}

button.alive:hover {
background-color: #82d99c;
transform: scale(1.2);
}

